{%  if app.user %}
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
               <li>
                    <a href="{{ path('user_profile') }}"><i class="fa fa-user fa-fw"></i> Профиль {{ app.user.username }}</a>
               </li>
               <li class="divider"></li>
                <li>
                    <a href="{{ path('_logout') }}"><i class="fa fa-sign-out fa-fw"></i> Выйти</a>
                </li>
            </ul>
            <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
{% else %}
        <li>
            <a href="{{ path('_login') }}"><i class="fa fa-sign-in fa-fw"></i> Войти</a>
        </li>
{% endif %}    

